.card-col {
    min-height:100%;
}

ul {
    display: flex;  
    flex-wrap: wrap;
    list-style-type: none;
  }

li {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(131, 131, 131);
    }

li:hover {
    background-color: rgb(200, 200, 200);
}

img {
    padding:10px;
    max-width: 250px;
    display: block;
    text-align: center;
}

.card-body {
    flex: none;
}

h6 {
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    text-align: center;
    color: rgba(10,10,10,0.5);
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

